<h1 class="text-center"> Liste de Cocktails - On est jeudi - Time to party!</h1>


<div class="container">
 <div class="row">
   <% @cocktails.each do |cocktail| %>
   <div class="col-xs-12 col-sm-4">
     <h2><%= cocktail.name %></h2>
     <%= link_to "Découvrez le cocktail", cocktail_path(cocktail) %>
   </div>
   <% end %>

 </div>
</div>
